<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xihua.weixiao.dao.GoodsTypeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xihua.weixiao.entity.GoodsType">
        <id column="goods_type_id" property="goodsTypeId" />
        <result column="goods_type_no" property="goodsTypeNo" />
        <result column="goods_type_name" property="goodsTypeName" />
    </resultMap>

</mapper>
