<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xihua.weixiao.dao.LostinfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xihua.weixiao.entity.Lostinfo">
        <id column="lostinfo_id" property="lostinfoId" />
        <result column="lostinfo_no" property="lostinfoNo" />
        <result column="lostinfo_name" property="lostinfoName" />
        <result column="lostinfo_description" property="lostinfoDescription" />
        <result column="lostinfo_img" property="lostinfoImg" />
        <result column="lostinfo_status" property="lostinfoStatus" />
        <result column="lostinfo_place" property="lostinfoPlace" />
        <result column="lostinfo_type" property="lostinfoType" />
        <result column="lostinfo_create_time" property="lostinfoCreateTime" />
        <result column="lostinfo_user_id" property="lostinfoUserId" />
    </resultMap>
    <resultMap id="LostinfoResponse" type="com.xihua.weixiao.vo.response.LostinfoResponse">
        <id column="lostinfo_id" property="lostinfoId" />
        <result column="lostinfo_name" property="lostinfoName" />
        <result column="lostinfo_description" property="lostinfoDescription" />
        <result column="lostinfo_img" property="lostinfoImg" />
        <result column="lostinfo_status" property="lostinfoStatus" />
        <result column="lostinfo_place" property="lostinfoPlace" />
        <result column="lostinfo_create_time" property="lostinfoCreateTime" />
        <result column="lostinfo_user_id" property="lostinfoUserId" />
        <result column="lostinfo_type" property="lostinfoType" />
        <association property="user" javaType="com.xihua.weixiao.entity.User">
            <id column="user_id" property="userId" />
            <result column="user_name" property="userName" />
            <result column="user_img" property="userImg" />
        </association>
    </resultMap>
    <resultMap id="TimeLine" type="com.xihua.weixiao.vo.response.LostFoundTimeLine">
        <id column="lostinfo_id" property="lostinfoId" />
        <result column="lostinfo_name" property="lostinfoName" />
        <result column="lostinfo_create_time" property="lostinfoCreateTime" />
    </resultMap>

    <select id="queryLostinfo" resultMap="LostinfoResponse">
        SELECT l.*,u.* FROM lostinfo l,user u
        WHERE  lostinfo_type = #{id} and l.lostinfo_user_id = u.user_id
</select>
    <select id="queryDetailLost" resultMap="LostinfoResponse">
        SELECT l.*,u.* FROM lostinfo l,user u
        WHERE  l.lostinfo_id = #{id} and l.lostinfo_user_id = u.user_id
    </select>

    <select id="selectLostinfo" resultMap="LostinfoResponse">
        SELECT l.*,u.* FROM lostinfo l,user u
        WHERE  l.lostinfo_user_id = u.user_id
        <if test="lostinfoUserId!=null">
          and  lostinfo_user_id=#{lostinfoUserId}
        </if>
        <if test="lostType!=null">
            and  lostinfo_type = #{lostType}
        </if>
        <if test="key!=null">
            and  lostinfo_name like #{key} or lostinfo_description like #{key}
        </if>
    </select>
    <select id="getDonationTimeLineByMyId" resultMap="TimeLine">
        SELECT lostinfo_id,lostinfo_name,lostinfo_create_time from lostinfo where lostinfo_user_id = #{id}
    </select>
</mapper>
