<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xihua.weixiao.dao.ReviewMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xihua.weixiao.entity.Review">
        <id column="review_id" property="reviewId" />
        <result column="review_no" property="reviewNo" />
        <result column="review_content" property="reviewContent" />
        <result column="review_topic_id" property="reviewTopicId" />
        <result column="review_user_id" property="reviewUserId" />
        <result column="review_create_time" property="reviewCreateTime" />
        <result column="review_status" property="reviewStatus" />
    </resultMap>
    <resultMap id="responseReview" type="com.xihua.weixiao.vo.response.ReviewResponse">
        <id column="review_id" property="reviewId" />
        <result column="review_content" property="reviewContent" />
        <result column="review_topic_id" property="reviewTopicId" />
        <result column="review_user_id" property="reviewUserId" />
        <result column="review_create_time" property="reviewCreateTime" />
        <association property="user" javaType="com.xihua.weixiao.entity.User">
            <id column="user_id" property="userId" />
            <result column="user_name" property="userName" />
            <result column="user_img" property="userImg" />
        </association>
    </resultMap>


    <select id="queryReviewByTopicId" resultMap="responseReview">
        select review_id,review_content,review_topic_id,review_user_id,review_create_time
        from review where review_topic_id = #{id}
    </select>
    <delete id="deleteReviewByTopicId">
        delete from review where review_topic_id = #{id}
    </delete>

    <select id="queryByTopicId" resultMap="responseReview">
        select r.*,u.* from review r,user u where review_topic_id = #{id} and u.user_id = r.review_user_id
    </select>
</mapper>
