<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xihua.weixiao.dao.SuggestionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xihua.weixiao.entity.Suggestion">
        <id column="suggestion_id" property="suggestionId" />
        <result column="suggestion_no" property="suggestionNo" />
        <result column="suggestion_content" property="suggestionContent" />
        <result column="suggestion_img" property="suggestionImg" />
        <result column="suggestion_user_id" property="suggestionUserId" />
        <result column="suggestion_create_time" property="suggestionCreateTime" />
        <result column="suggestion_status" property="suggestionStatus" />
    </resultMap>
    <resultMap id="Response" type="com.xihua.weixiao.vo.response.SuggestionResponse">
        <id column="suggestion_id" property="suggestionId" />
        <result column="suggestion_content" property="suggestionContent" />
        <result column="suggestion_img" property="suggestionImg" />
        <result column="suggestion_user_id" property="suggestionUserId" />
        <result column="suggestion_create_time" property="suggestionCreateTime" />
        <result column="suggestion_status" property="suggestionStatus" />
    </resultMap>

    <resultMap id="DetailResponse" type="com.xihua.weixiao.vo.response.SuggestionDetailResponse">
        <id column="suggestion_id" property="suggestionId" />
        <result column="suggestion_content" property="suggestionContent" />
        <result column="suggestion_img" property="suggestionImg" />
        <result column="suggestion_user_id" property="suggestionUserId" />
        <result column="suggestion_create_time" property="suggestionCreateTime" />
        <association property="user" javaType="com.xihua.weixiao.entity.User">
            <id column="user_id" property="userId" />
            <result column="user_name" property="userName" />
            <result column="user_img" property="userImg" />
        </association>
    </resultMap>
    <resultMap id="ResponseTimeLine" type="com.xihua.weixiao.vo.response.SuggestionTimeLine">
        <id column="suggestion_id" property="suggestionId" />
        <result column="suggestion_content" property="suggestionContent" />
        <result column="suggestion_create_time" property="suggestionCreateTime" />
    </resultMap>
    <select id="getSuggestionByMyId" resultMap="Response">
         SELECT * FROM suggestion WHERE suggestion_user_id = #{id}
    </select>

    <select id="getSuggestionTimeLineByMyId" resultMap="ResponseTimeLine">
         SELECT * FROM suggestion WHERE suggestion_user_id = #{id}
    </select>
    <select id="getSuggestionDetail" resultMap="DetailResponse">
        SELECT s.*,u.* FROM suggestion s,user u WHERE s.suggestion_user_id = u.user_id and s.suggestion_id = #{id}
    </select>
</mapper>
