<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xihua.weixiao.dao.TopicMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xihua.weixiao.entity.Topic">
        <id column="topic_id" property="topicId" />
        <result column="topic_no" property="topicNo" />
        <result column="topic_content" property="topicContent" />
        <result column="topic_img" property="topicImg" />
        <result column="topic_like" property="topicLike" />
        <result column="topic_comment" property="topicComment" />
        <result column="topic_create_time" property="topicCreateTime" />
        <result column="topic_status" property="topicStatus" />
        <result column="topic_user_id" property="topicUserId" />
    </resultMap>

</mapper>
